.headerr{
    background-image: url(../assets/img/01.jpg);
    @include back(50% 50%,cover);
    display: flex;
    @include positionl(100%,84.22px,0%,0%);
    flex-flow: row wrap;
    justify-content: space-between;
    .logo{
        a{
            img{
                @include positionl(13.195%,37.19px,5%,25%);
            }
        }
    }
    nav{
        .navegador{
            @include gap(5%,none);
            @include positionl(40%,79.8px,58.35%,0%);
            align-items: center;
            padding: 0%;
            margin: 0%;
            li{
                a{
                    @include textst(normal,500,139%,100%,center,white);
                    font-family: $style-rob;
                    text-decoration: none;
                }
            }
            #inscribite{
                width: 125px;
                height: 40px;
                @include box(5px solid black,20px);
                background: $backgroud-principal;
                align-content: center;
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    font-family: $style-popp;
                    font-size: 90%;
                }
                :hover{
                    color: black;
                }
            }
        }
    }
}

