.secIns{
    background-image: url(../assets/img/10.jpg);
    width: 100%;
    height: 1150px;
    left: 0px;
    top: 84.22px;
    position: relative;
    display: flex;
    @include back(50% 50%,cover);
    div{
        .titIns{
            position: absolute;
            width: 100%;
            top: 5%;
            @include textst(normal,900,250%,50%,center,black);
            font-family: $style-rob;
            letter-spacing: 0.5em;
            -webkit-animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            @-webkit-keyframes focus-in-contract-bck {
                0% {
                letter-spacing: 1em;
                -webkit-transform: translateZ(300px);
                transform: translateZ(300px);
                -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
                }
                100% {
                -webkit-transform: translateZ(12px);
                transform: translateZ(12px);
                -webkit-filter: blur(0);
                filter: blur(0);
                opacity: 1;
                }
            }
            @keyframes focus-in-contract-bck {
                0% {
                letter-spacing: 1em;
                -webkit-transform: translateZ(300px);
                transform: translateZ(300px);
                -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
                }
                100% {
                -webkit-transform: translateZ(12px);
                transform: translateZ(12px);
                -webkit-filter: blur(0);
                filter: blur(0);
                opacity: 1;
                }
            }
        }
    }
    .card-container{
        display: flex;
        position: absolute;
        justify-content: space-evenly;
        width: 100%;
        top: 12%;
        .card{
            width: 25%;
            height: 280px;
            background: $backgroud-principal;
            @include box(2px solid black,none);
            position: relative;
            border-radius: 30px;
            -webkit-animation: heartbeat 2s ease-in-out infinite both;
	        animation: heartbeat 2s ease-in-out infinite both;
            @-webkit-keyframes heartbeat {
                from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                }
                10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                }
                17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                }
                33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                }
                45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                }
            }
            @keyframes heartbeat {
                from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                }
                10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                }
                17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                }
                33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                }
                45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                }
            }
            h2{
                @include positionl(90%,10%,5%,5%);
                @include textst(normal,900,200%,50%,center,black);
                font-family: $style-rob;
            }
            .precio{
                @include positionl(100%,15%,0%,20%);
                @include textst(normal,900,280%,50%,center,black);
                font-family: $style-rob;
            }
            h3{
                @include positionl(100%,10%,0%,35%);
                @include textst(normal,900,140%,30%,center,white);
                font-family: $style-rob;
            }
            .listIns{
                @include positionl(100%,50%,0%,45%);
                list-style: none;
                @include textst(normal,600,120%,150%,center,black);
                font-family: $style-popp;
                p{
                    button{
                        border: none;
                        outline: 0;
                        padding: 5px;
                        color: white;
                        background-color: black;
                        text-align: center;
                        cursor: pointer;
                        width: 50%;
                        font-size: 18px;
                        border-radius: 30px;
                        :hover{
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
    div{
        form{
            .cuadroDos{
                @include positionl(40%,47%,5%,42.7%);
                background: $background-form;
                border-radius: 30px;
                .titInfo{
                    @include positionl(100%,10%,0%,8%);
                    @include textst(normal,600,220%,120%,center,black);
                    font-family: $style-rob;
                }
                .cheUno{
                    @include positionl(88%,0%,6%,21%);
                    border: 1px solid black;
                }
                .formUno{
                    @include positionl(35%,12%,10%,31.5%);
                    background: white;
                    border-radius: 10px;
                    text-align: center;
                }
                .formDos{
                    @include positionr(35%,12%,10%,31.5%);
                    background: white;
                    border-radius: 10px;
                    text-align: center;
                }
                .formTres{
                    @include positionl(35%,12%,10%,55.5%);
                    background: white;
                    border-radius: 10px;
                    text-align: center;
                }
                .formCuatro{
                    @include positionr(35%,12%,10%,55.5%);
                    background: white;
                    border-radius: 10px;
                    text-align: center;
                }
                .formCinco{
                    @include positionl(35%,12%,10%,79.5%);
                    background: white;
                    border-radius: 10px;
                    text-align: center;
                }
                .formSeis{
                    @include positionr(35%,12%,10%,79.5%);
                    background: white;
                    border-radius: 10px;
                    text-align: center;
                }
            }
            .cuadroTres{
                @include positionr(40%,47%,5%,42.7%);
                background: $background-form;
                border-radius: 30px;
                .titPago{
                    @include positionl(100%,10%,0%,8%);
                    @include textst(normal,600,220%,120%,center,black);
                    font-family: $style-rob;
                }
                .cheDos{
                    @include positionl(88%,0px,6%,21%);
                    border: 1px solid black;
                }
                .formSiete{
                    @include positionl(35%,12%,10%,31.5%);
                    background: white;
                    border-radius: 10px;
                    text-align: center;
                }
                .formOcho{
                    @include positionr(35%,12%,10%,31.5%);
                    background: white;
                    border-radius: 10px;
                    text-align: center;
                }
                .formNueve{
                    @include positionl(35%,12%,10%,55.5%);
                    background: white;
                    border-radius: 10px;
                    text-align: center;
                }
                .formDiez{
                    @include positionr(35%,12%,10%,55.5%);
                    background: white;
                    border-radius: 10px;
                    text-align: center;
                }
                .formOnce{
                    @include positionl(35%,12%,10%,79.5%);
                    background: white;
                    border-radius: 10px;
                    text-align: center;
                }
                .formDoce{
                    @include positionr(35%,12%,10%,79.5%);
                    background: white;
                    border-radius: 10px;
                    text-align: center;
                }
            }
            .envIns{
                @include box(2px solid black,30px);
                @include positionl(10%,5%,45%,90%);
                background: #6B728E;
                @include textst(normal,600,20px,23px,center,black);
                font-family: $style-rob;
                -webkit-animation: shake-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	            animation: shake-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
                @-webkit-keyframes shake-bottom {
                    0%,
                    100% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transform-origin: 50% 100%;
                    transform-origin: 50% 100%;
                    }
                    10% {
                    -webkit-transform: rotate(2deg);
                    transform: rotate(2deg);
                    }
                    20%,
                    40%,
                    60% {
                    -webkit-transform: rotate(-4deg);
                    transform: rotate(-4deg);
                    }
                    30%,
                    50%,
                    70% {
                    -webkit-transform: rotate(4deg);
                    transform: rotate(4deg);
                    }
                    80% {
                    -webkit-transform: rotate(-2deg);
                    transform: rotate(-2deg);
                    }
                    90% {
                    -webkit-transform: rotate(2deg);
                    transform: rotate(2deg);
                    }
                }
                @keyframes shake-bottom {
                    0%,
                    100% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transform-origin: 50% 100%;
                    transform-origin: 50% 100%;
                    }
                    10% {
                    -webkit-transform: rotate(2deg);
                    transform: rotate(2deg);
                    }
                    20%,
                    40%,
                    60% {
                    -webkit-transform: rotate(-4deg);
                    transform: rotate(-4deg);
                    }
                    30%,
                    50%,
                    70% {
                    -webkit-transform: rotate(4deg);
                    transform: rotate(4deg);
                    }
                    80% {
                    -webkit-transform: rotate(-2deg);
                    transform: rotate(-2deg);
                    }
                    90% {
                    -webkit-transform: rotate(2deg);
                    transform: rotate(2deg);
                    }
                }
            }
        }
    }
}