@media (max-width:1005px){
    #mainUno{
        .secUno{
            .secTit{
                h1{
                    font-size: 95%;
                    line-height: 100%;
                    @include positionl(25%,15%,38%,80%);
                }
            }
            .secImguno{
                a{
                    img{
                        @include positionl(48%,40%,26%,30%);
                    }
                }
            }
        }
        .secDos{
            .clasDos{
                a{
                    .titc{
                        left: 15%;
                    }
                }
            }
        }
        .secTres{
            .horaUno{
                @include positionl(14%,45%,5%,30%);
            }
            .horaTres{
                @include positionr(12%,45%,6%,30%);
            }
        }
    }
    main{
        .secNosd{
            .parUno{
                font-size: 85%;
            }
            .parDos{
                font-size: 85%;
            }
        }
    }
    .clas{
        .musc2{
            .card-prof1{
                .cardp1{
                    height: 240px;
                    .content-card1{
                        p{
                            font-size: 70%;
                        }
                    }
                }
            }
        }
        .musc3{
            .card-prof2{
                top: 32%;
                .cardp2{
                    height: 220px;
                    .content-card2{
                        p{
                            font-size: 70%;
                        }
                    }
                }
            }
        }
        .musc5{
            .card-prof3{
                top: 32%;
                .cardp3{
                    height: 220px;
                    .content-card3{
                        p{
                            font-size: 70%;
                        }
                    }
                }
            }
        }
        .musc6{
            .card-prof4{
                top: 24%;
                .cardp4{
                    height: 240px;
                    .content-card4{
                        p{
                            font-size: 70%;
                        }
                    }
                }
            }
        }
    }
}