@media (max-width:510px){
    .headerr{
        nav{
            .navegador{
                gap: 2.5%;
                width: 75%;
            }
        }
    }
    #mainUno{
        .secUno{
            .secImguno{
                a{
                    img{
                        height: 25%;
                    }
                }
            }
            .secTit{
                h1{
                    top: 80%;
                    font-size: 90%;
                    width: 40%;
                }
            }
        }
        .secDos{
            .clasDos{
                a{
                    .titc{
                        top: 40%;
                        left: 7.5%;
                        font-size: 175%;
                        line-height: 150%;
                    }
                }
            }
        }
        .secTres{
            .horaDos{
                a{
                    .tith{
                        width: 45%;
                        left: 26.5%;
                    }
                }
            }
        }
        .secCuatro{
            a{
                .nosUno{
                    width: 45%;
                    left: 26.5%;
                }
            }
        }
    }
    footer{
        .copy{
            p{
                left: 78%;
            }
        }
    }
    .secHor{
        .tabHor{
            left: 8%;
            font-size: 60%;
        }
    }
    .secIns{
        .card-container{
            top: 13%;
            .card{
                height: 140px;
                h2{
                    font-size: 80%;
                }
                h3{
                    top: 35%;
                    font-size: 70%;
                }
                .precio{
                    top: 17%;
                    font-size: 170%;
                }
                .listIns{
                    top: 43%;
                    font-size: 54%;
                    p{
                        button{
                            padding: 2px;
                            font-size: 10px;
                            width: 40%;
                        }
                    }
                }
            }
        }
        div{
            form{
                .envIns{
                    font-size: 12px;
                    line-height: 15px;
                    height: 2%;
                }
            }
        }
    }
    .clas{
        .musc2{
            .titm{
                h1{
                    font-size: 75%;
                }
            }
            div{
                p{
                    font-size: 55%;
                }
            }
        }
        .musc3{
            .titf{
                h3{
                    font-size: 75%;
                }
            }
            div{
                p{
                    font-size: 55%;
                }
            }
        }
        .musc5{
            .titf{
                h3{
                    font-size: 75%;
                }
            }
            div{
                p{
                    font-size: 55%;
                }
            }
        }
        .musc2{
            .titb{
                h3{
                    font-size: 75%;
                }
            }
            div{
                p{
                    font-size: 55%;
                }
            }
        }
    }
}