@media (max-width:810px){
    .headerr{
        nav{
            .navegador{
                left: 36%;
                width: 60%;
            }
        }
    }
    #mainUno{
        .secUno{
            .secTit{
                h1{
                    font-size: 82%;
                    line-height: 100%;
                    width: 25%;
                    height: 15%;
                    top: 75%;
                }
            }
            .secImguno{
                a{
                    img{
                        height: 35%;
                        top: 32%;
                    }
                }
            }
        }
        .secDos{
            .clasDos{
                a{
                    .titc{
                        left: 10%;
                    }
                }
            }
        }
        .secTres{
            .horaUno{
                @include positionl(15%,45%,3%,42%);
            }
            .horaDos{
                a{
                    .tith{
                        left: 14%;
                    }
                }
            }
            .horaTres{
                @include positionr(14%,45%,4%,42%);
            }
        }
    }
    .secHor{
        .tabHor{
            left: 8%;
        }
    }
    .secIns{
        .card-container{
            .card{
                .listIns{
                    font-size: 90%;
                }
            }
        }
        div{
            form{
                .envIns{
                    height: 3%;
                }
            }
        }
    }
    .clas{
        .musc2{
            .card-prof1{
                .cardp1{
                    height: 200px;
                    .content-card1{
                        p{
                            font-size: 60%;
                        }
                    }
                }
            }
        }
        .musc3{
            .card-prof2{
                .cardp2{
                    height: 180px;
                    .content-card2{
                        p{
                            font-size: 60%;
                        }
                    }
                }
            }
        }
        .musc5{
            .card-prof3{
                .cardp3{
                    height: 180px;
                    .content-card3{
                        p{
                            font-size: 60%;
                        }
                    }
                }
            }
        }
        .musc6{
            .card-prof4{
                .cardp4{
                    height: 200px;
                    .content-card4{
                        p{
                            font-size: 60%;
                        }
                    }
                }
            }
        }
    }
}