@media (max-width:885px){
    .headerr{
        nav{
            .navegador{
                left: 41%;
                width: 45%;
            }
        }
    }
    #mainUno{
        .secTres{
            .horaUno{
                @include positionl(15%,45%,3%,32%);
            }
            .horaTres{
                @include positionr(13%,45%,4%,32%);
            }
            .horaDos{
                a{
                    .tith{
                        left: 14%;
                    }
                }
            }
        }
    }
    main{
        .secNosd{
            h2{
                top: 15%;
            }
            form{
                .formNos{
                    @include positionl(45%,48%,7%,35%);
                }
            }
            .youtNos{
                @include positionr(33%,48%,7%,35%);
            }
            .parUno{
                font-size: 75%;
            }
            .parDos{
                font-size: 75%;
            }
        }
    }
    .clas{
        .musc2{
            .titm{
                h1{
                    top: 28px;
                    font-size: 120%;
                }
            }
            div{
                p{
                    top: 63px;
                }
            }
            .card-prof1{
                top: 30%;
                .cardp1{
                    height: 220px;
                    .content-card1{
                        h2{
                            font-size: 150%;
                        }
                        p{
                            top: 44%;
                        }
                    }
                }
            }
        }
        .musc3{
            .titf{
                h3{
                    font-size: 120%;
                }
            }
            .card-prof2{
                top: 35%;
                .cardp2{
                    height: 200px;
                    .content-card2{
                        h4{
                            font-size: 150%;
                        }
                    }
                }
            }
        }
        .musc5{
            .titf{
                h3{
                    font-size: 120%;
                }
            }
            .card-prof3{
                top: 35%;
                .cardp3{
                    height: 200px;
                    .content-card3{
                        h4{
                            font-size: 150%;
                        }
                    }
                }
            }
        }
        .musc6{
            .titb{
                h3{
                    top: 13px;
                    font-size: 120%;
                }
            }
            div{
                p{
                    top: 48px;
                }
            }
            .card-prof4{
                top: 30%;
                .cardp4{
                    height: 220px;
                    .content-card4{
                        h4{
                            font-size: 150%;
                        }
                    }
                }
            }
        }
    }
}