@media (max-width:1124px){
    .headerr{
        nav{
            .navegador{
                left: 53%;
                width: 45%;
                #inscribite{
                    a{
                        font-size: 90%;
                    }
                }
            }
        }
    }
    #mainUno{
        .secTres{
            .horaDos{
                a{
                    .tith{
                        width: 70%;
                        left: 15%;
                    }
                }
            }
        }
        .secCuatro{
            a{
                .nosUno{
                    width: 70%;
                    left: 14%;
                }
            }
        }
    }
    .secIns{
        div{
            form{
                .envIns{
                    height: 4%;
                }
            }
        }
    }
    main{
        .secNosu{
            p{
                font-size: 100%;
                top: 35%;
            }
        }
        .secNosd{
            form{
                .envNos{
                    height: 7.5%;
                }
            }
        }
    }
}