@media (max-width:600px){
    .headerr{
        nav{
            .navegador{
                gap: 4%;
                #inscribite{
                    width: 22%;
                }
            }
        }
    }
    .secHor{
        .tabHor{
            left: 6.5%;
        }
    }
    main{
        .secNosd{
            form{
                .envNos{
                    font-size: 80%;
                }
            }
            .parUno{
                font-size: 80%;
            }
            .parDos{
                font-size: 80%;
            }
        }
    }
}