@media (max-width:560px){
    .headerr{
        nav{
            .navegador{
                gap: 3%;
                width: 60%;
                #inscribite{
                    width: 22%;
                }
            }
        }
    }
    #mainUno{
        .secUno{
            .secTit{
                h1{
                    font-size: 105%;
                }
            }
        }
        .secDos{
            .clasDos{
                a{
                    .titc{
                        left: 10%;
                    }
                }
            }
        }
    }
    .secHor{
        .tabHor{
            left: 6%;
        }
    }
    main{
        .secNosu{
            p{
                font-size: 60%;
            }
        }
    }
    .clas{
        .musc2{
            .card-prof1{
                .cardp1{
                    .content-card1{
                        h2{
                            font-size: 120%;
                        }
                        p{
                            font-size: 40%;
                        }
                    }
                }
            }
        }
        .musc3{
            .card-prof2{
                .cardp2{
                    .content-card2{
                        h4{
                            font-size: 120%;
                        }
                        p{
                            font-size: 40%;
                        }
                    }
                }
            }
        }
        .musc5{
            .card-prof3{
                .cardp3{
                    .content-card3{
                        h4{
                            font-size: 120%;
                        }
                        p{
                            font-size: 40%;
                        }
                    }
                }
            }
        }
        .musc6{
            .card-prof4{
                .cardp4{
                    .content-card4{
                        h4{
                            font-size: 120%;
                        }
                        p{
                            font-size: 40%;
                        }
                    }
                }
            }
        }
    }
}