@media (max-width:375px){
    .headerr{
        nav{
            .navegador{
                gap: 2%;
                width: 75%;
                li{
                    a{
                        font-size: 60%;
                        line-height: 100%;
                    }
                }
                #inscribite{
                    height: 13px;
                    width: 18%;
                }
            }
        }
    }
    #mainUno{
        .secDos{
            .clasDos{
                a{
                    .titc{
                        font-size: 250%;
                        top: 44%;
                    }
                }
            }
        }
        .secTres{
            .horaDos{
                a{
                    .tith{
                        font-size: 250%;
                        top: 44%;
                    }
                }
            }
        }
        .secCuatro{
            a{
                .nosUno{
                    font-size: 250%;
                    top: 44%;
                }
            }
        }
    }
    main{
        .secNosu{
            p{
                font-size: 60%;
            }
        }
        .secNosd{
            form{
                .envNos{
                    font-size: 45%;
                }
            }
            .parUno{
                font-size: 60%;
            }
            .parDos{
                font-size: 60%;
            }
        }
    }
    .clas{
        .musc2{
            .titm{
                h1{
                    font-size: 60%;
                }
            }
            div{
                p{
                    font-size: 70%;
                }
            }
            .card-prof1{
                gap: 10px;
                .cardp1{
                    .content-card1{
                        h2{
                            font-size: 90%;
                        }
                        p{
                            top: 42%;
                            font-size: 30%;
                        }
                    }
                }
            }
        }
        .musc3{
            .titf{
                h3{
                    top: 15px;
                    font-size: 60%;
                }
            }
            div{
                p{
                    top: 35px;
                    font-size: 70%;
                }
            }
            .card-prof2{
                gap: 10px;
                .cardp2{
                    .content-card2{
                        h4{
                            font-size: 90%;
                        }
                        p{
                            top: 55%;
                            font-size: 30%;
                        }
                    }
                }
            }
        }
        .musc5{
            .titf{
                h3{
                    top: 15px;
                    font-size: 60%;
                }
            }
            div{
                p{
                    top: 35px;
                    font-size: 70%;
                }
            }
            .card-prof3{
                gap: 10px;
                .cardp3{
                    .content-card3{
                        h4{
                            font-size: 90%;
                        }
                        p{
                            top: 55%;
                            font-size: 30%;
                        }
                    }
                }
            }
        }
        .musc6{
            .titb{
                h3{
                    top: 25px;
                    font-size: 60%;
                }
            }
            div{
                p{
                    top: 45px;
                    font-size: 70%;
                }
            }
            .card-prof4{
                gap: 10px;
                .cardp4{
                    left: 10%;
                    .content-card4{
                        h4{
                            font-size: 90%;
                        }
                        p{
                            top: 55%;
                            font-size: 30%;
                        }
                    }
                }
            }
        }
    }
}