@media (max-width:1070px){
    .headerr{
        nav{
            .navegador{
                left: 50%;
                width: 48%;
            }
        }
    }
    #mainUno{
        .secDos{
            .clasDos{
                a{
                    .titc{
                        left: 15%;
                        width: 65%;
                    }
                }
            }
        }
        .secTres{
            .horaUno{
                @include positionl(18%,60%,3%,18%);
                .tithn{
                    top: 40%;
                    height: 30%;
                }
            }
            .horaTres{
                @include positionr(16%,60%,4%,18%);
                .tithd{
                    top: 40%;
                    height: 30%;
                }
            }
        }
    }
    main{
        .secNosu{
            p{
                font-size: 90%;
                top: 35%;
                width:65%;
                left: 17.5%;
            }
        }
    }
    .clas{
        .musc2{
            .card-prof1{
                gap: 60px;
                .cardp1{
                    height: 260px;
                    .content-card1{
                        p{
                            font-size: 75%;
                        }
                    }
                }
            }
        }
        .musc3{
            .card-prof2{
                .cardp2{
                    height: 240px;
                    .content-card2{
                        p{
                            font-size: 75%;
                        }
                    }
                }
            }
        }
        .musc5{
            .card-prof3{
                .cardp3{
                    height: 240px;
                    .content-card3{
                        p{
                            font-size: 75%;
                        }
                    }
                }
            }
        }
        .musc6{
            .card-prof4{
                gap: 60px;
                right: 5%;
                .cardp4{
                    height: 260px;
                    .content-card4{
                        p{
                            font-size: 75%;
                        }
                    }
                }
            }
        }
    }
}
